In [58]:
##################################################################
#Description:
#      Neural network that tells you if a house is a good buy
#      from Siraj Raval 
#      Raval's github: https://github.com/llSourcell/How_to_use_Tensorflow_for_classification-LIVE
#
# Author: Jean-Simon Marrocco
# Date: 02-12-2017
##################################################################
import pandas as pd # work with data as tables
import numpy as np # use number matrices
import matplotlib.pyplot as plt
import tensorflow as tf

In [5]:
#step 1 load data
dataframe = pd.read_csv('data.csv') #dataframe
#removd the feature we dont care about
dataframe = dataframe.drop(['index','price', 'sq_price'], axis =1)
#we only use the first 10 rows
dataframe = dataframe[0:10]
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [8]:
#step 2 - add labels
# 1 is good buy and 0 os bad buy
dataframe.loc[:, ('y1')] = [1,1,1,0,0,1,0,1,1,1]
#y2 is a negation of y1, opposite
dataframe.loc[:, ('y2')] = dataframe['y1'] == 0
#turn TRUE/FALSE values to 1 and 0
dataframe.loc[:, ('y2')] = dataframe['y2'].astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [16]:
#Step3 - prepare data for tensorflow
#tensor are a generic version of vectors and matrices
#vector - is a list of numbers
#matrix - is a list of list of numbers (2D tensor)
#list of list of list of numbers (3D Tensor)
#...

#convert features to input tensor
inputX = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()
#convert labels to input tensor
inputY = dataframe.loc[:,['y1', 'y2']].as_matrix()

In [19]:
#step4 - write out our hyperparameters
learning_rate = 0.000001
training_epochs = 2000

display_step = 50
n_samples = inputY.size

In [47]:
#Step 5 - creat our computation graph/neural network
#for feature input tensors, none means any numbers of examples
#placeholers are gateways for data into our compulations graph
x = tf.placeholder(tf.float32, [None,2])

#creat weighs
#2x2 float matrix, that we'll keep updating through the training process
#variables in tf hold and update parameters
#in memory buffers containing tensors
w = tf.Variable(tf.zeros([2,2]))

#add biases (ex: is b in y = mx + b is the bias, like that)
b = tf.Variable(tf.zeros([2]))

#multply our weights by our inputs, first calculation
#weights are how we govern how data flows in our neural net
#multiply input by weights and add biases
y_values =tf.add(tf.matmul(x,w), b)

#apply osftmax to values we just created (solfmax =sigmoid)
#sofmax is our activation function
y = tf.nn.softmax(y_values)

#feed in a matrix of lables
y_ = tf.placeholder(tf.float32, [None, 2] )

In [48]:
#Step6 - perform training

#creat our cost function, mean squared error
#reduce sum computes the sum of element across dimensions of tensor
cost = tf.reduce_sum(tf.pow(y_ - y, 2))/(2*n_samples)

#Gradient descent
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

#init variables and tensorflow session
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

In [54]:
#training loop
for i in range(training_epochs):
    sess.run(optimizer, feed_dict={x: inputX, y_: inputY})
    
    #write out logs of training
    if (i) % display_step == 0:
        cc = sess.run(cost, feed_dict={x: inputX, y_:inputY})
        print('training step:', '%04d' % (i), "cost=", '{:.9f}'.format(cc))
        
print("Optimization Finished!")
training_cost = sess.run(cost, feed_dict={x: inputX, y_: inputY})
print("Training cost=", training_cost, "w=", sess.run(w), "b=", sess.run(b), '\n')

training step: 0000 cost= 0.109526359
training step: 0050 cost= 0.109526299
training step: 0100 cost= 0.109526232
training step: 0150 cost= 0.109526157
training step: 0200 cost= 0.109526083
training step: 0250 cost= 0.109526016
training step: 0300 cost= 0.109525964
training step: 0350 cost= 0.109525882
training step: 0400 cost= 0.109525822
training step: 0450 cost= 0.109525755
training step: 0500 cost= 0.109525681
training step: 0550 cost= 0.109525606
training step: 0600 cost= 0.109525539
training step: 0650 cost= 0.109525479
training step: 0700 cost= 0.109525405
training step: 0750 cost= 0.109525345
training step: 0800 cost= 0.109525278
training step: 0850 cost= 0.109525204
training step: 0900 cost= 0.109525129
training step: 0950 cost= 0.109525062
training step: 1000 cost= 0.109525003
training step: 1050 cost= 0.109524943
training step: 1100 cost= 0.109524868
training step: 1150 cost= 0.109524801
training step: 1200 cost= 0.109524727
training step: 1250 cost= 0.109524652
training step: 1300 cost= 0.109524585
training step: 1350 cost= 0.109524526
training step: 1400 cost= 0.109524451
training step: 1450 cost= 0.109524384
training step: 1500 cost= 0.109524325
training step: 1550 cost= 0.109524250
training step: 1600 cost= 0.109524176
training step: 1650 cost= 0.109524108
training step: 1700 cost= 0.109524034
training step: 1750 cost= 0.109523989
training step: 1800 cost= 0.109523915
training step: 1850 cost= 0.109523848
training step: 1900 cost= 0.109523773
training step: 1950 cost= 0.109523699
Optimization Finished!
Training cost= 0.109524 w= [[ 0.00021363 -0.00021364]
 [ 0.00030573 -0.00030573]] b= [  7.08758598e-05  -7.08758671e-05]

In [57]:
sess.run(y, feed_dict={x:inputX})

array([[ 0.71114522,  0.28885475],
       [ 0.66498929,  0.33501068],
       [ 0.73641628,  0.26358369],
       [ 0.64711446,  0.3528856 ],
       [ 0.78319752,  0.21680245],
       [ 0.70071793,  0.29928204],
       [ 0.658678  ,  0.34132197],
       [ 0.6483264 ,  0.3516736 ],
       [ 0.64373428,  0.35626575],
       [ 0.65482527,  0.3451747 ]], dtype=float32)

In [ ]:
#its saying all house are a good buy! but only 7/10 are really
#solution : add extrat layer